{% extends "base.html" %}

{% block title %}loginPage{% endblock %}

{% block  head %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'loginPage.css') }}">
{% endblock %}

{% block content %}
<div class="boxy">
    <div><h1>Login Portal</h1></div>
    <br><br><br><br>
    <form action="http://127.0.0.1:4000/value"  method="POST">
        <div class="field">
            <label class="label">Name</label>
            <div class="control troll">
                <input class="input" name="name" type="text" placeholder="Name">
            </div>
        </div>
        <div class="field">
            <label class="label">Username</label>
            <div class="control troll has-icons-left">
                <span class="icon bbdd"><i class="far fa-user just"></i></span>
                <input class="input" name="username" type="text" placeholder="Username">
            </div>
        </div>
        <div class="field">
            <label class="label">Passwrod</label>
            <div class="control troll has-icons-left">
                <spa class="icon bbdd"><i class="fas fa-key just"></i></spa>
                <input class="input" name="password" type="password" placeholder="Passwrod">
            </div>
        </div>
        <input type="submit" class="put sub" value="login">
    </form>
</div>
{% endblock %}