{% extends "base.html" %}

{% block title %}
    registrationPortal
{% endblock %}

{% block  head %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'registerPortal.css') }}">
{% endblock %}

{% block content %}
<div class="boxy">
    <div><h1>Registration Portal</h1></div>
    <br><br><br><br>
    <form enctype="multipart/form-data" action="http://127.0.0.1:4000/register"  method="POST">
        <div class="field">
            <label class="label">Name</label>
            <div class="control troll">
                <input class="input" name="name" type="text" placeholder="Name">
            </div>
        </div>
        <label class="label">Profile Picture</label>
        <div class="file has-name is-fullwidth ll">
            <label class="file-label">
              <input class="file-input" type="file" name="resume">
              <span class="file-cta">
                <span class="file-icon">
                  <i class="fas fa-upload"></i>
                </span>
                <span class="file-label">
                  Choose a file…
                </span>
              </span>
              <span class="file-name">
                Choose profile picture
              </span>
            </label>
          </div>
        <div class="field">
            <label class="label">Username</label>
            <div class="control troll has-icons-left">
                <span class="icon bbdd"><i class="far fa-user just"></i></span>
                <input class="input" name="username" type="text" placeholder="Username">
            </div>
        </div>
        <div class="field">
            <label class="label">Email</label>
            <div class="control troll has-icons-left">
                <spa class="icon bbdd">x<i class="far fa-paper-plane"></i></spa>
                <input class="input" name="email" type="email" placeholder="Email Address">
            </div>
        </div>
        <div class="field">
            <label class="label">Phone Number</label>
            <div class="control troll has-icons-left">
                <spa class="icon bbdd"><i class="fas fa-voicemail"></i></spa>
                <input class="input" name="telnum" type="tel" placeholder="Phone Number">
            </div>
        </div>
        <div class="field">
            <label class="label">Password</label>
            <div class="control troll has-icons-left">
                <spa class="icon bbdd"><i class="far fa-paper-plane"></i></spa>
                <input class="input" name="password" type="password" placeholder="Password">
            </div>
        </div>
        <div class="control jj">
            <label class="radio">
              <input type="radio" name="vermail">
             <label class="label">Verify Email</label>
            </label>
            <label class="radio">
              <input type="radio" name="vertext">
              <label class="label">Verify Text</label>
            </label>
          </div>
        <br><br>
        <input class="put" type="submit" value="Register">
    </form>
</div>
{% endblock %}
