{% extends "base.html" %}

{% block title %}
    OTPVerification
{% endblock %}

{% block  head %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'OTPCheck.css') }}">
{% endblock %}

{% block content %}
    <div class="boxy">
    <h1>Incorrect OTP</h1>
    <h1>Verfiy Your Number</h1>
    {{ username }} we verify your number {{ tel }} by entering the OTP sent to your number
    <form action="http://127.0.0.1:4000/verifySMS/{{ username }}">
        <div class="field">
            <label class="label">OTP</label>
            <div class="control troll">
                <input class="input" name="OTP" type="number" placeholder="XXXXXX" aria-valuemax="999999" aria-valuemin="100000">
            </div>
        </div>
    </form>
    </div>
{% endblock %}